body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #8892b0;    
    background-color: #01080E;    
    margin: 0;
}

.social-sidebar {
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.social-sidebar::after {
    content: '';
    width: 1px;
    height: 100px;
    background-color: #2BDEFD;
    margin-top: 1em;
}

.social-sidebar a {
    display: block;
}

.social-sidebar img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    border: 2px solid #64ffda;
    border-radius: 50%;
    padding: 4px;
    transition: transform 0.3s ease;
}

.social-sidebar a:hover img {
    transform: scale(1.2);
}

.top-nav {
    text-align: left;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 2em 10em 2em 10em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
}

.logo h1 {
    color: #D7F9FF;
    margin: 0;
    font-size: 2.5em;
}

.titulo-box {   
    display: flex;
    align-items: center; 
    padding-bottom: 160px;

    position: relative;
    overflow: hidden; 
}

.titulo-box .conteudo > div,
.titulo-box /*.background-img*/{ 
    transform: translateX(100%); /* Começa fora da tela à direita */
    opacity: 0; /* Invisível no início */
    transition: transform 1s ease-in-out, opacity 1s ease-in-out; /* Anima movimento e visibilidade */
}

/* Classe para ativar a animação */
.titulo-box .conteudo > div.animate,
.titulo-box /*.background-img.animate*/{
    transform: translateX(0); /* Move para dentro da tela */
    opacity: 1; /* Torna visível */    
}


.titulo-box1 {    
    width: 100%;
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    position: relative;
    padding: 0px;
    margin: 0px 3px 0px 0px;
}


.background-img {    
    position: absolute;
    top: 30;
    right: 0;
    width: 350px;
    height: auto;
    z-index: -1; /* Envia a imagem para trás dos outros elementos */
    opacity: 0.5; /* Opcional: Ajusta a transparência para melhorar o contraste */  

    /* Aplicando máscara com gradiente circular */
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 58%);
    
    /* Garantindo que o gradiente se adapte à imagem */
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;

  /* Adicionando transições para animação */
  transform: translateX(100%); /* Inicialmente fora da tela */
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

/* Classe que ativa a animação */
.background-img.animate {
  transform: translateX(0); /* Move para dentro da tela */
  opacity: 0.8; /* Ajusta a transparência */
}

.titulo {   
    padding: 0;
    margin-right: 10px; 
    text-align: left;
    max-width: 350px;    
    z-index: 1;  
}


#sobre{
    margin: 0px 3px 0px 0px;
}

#experiencia{
    margin: 0px 3px 0px 0px;    
}

.conteudo {
    display: flex;
    position: relative;
    width: 100%; 
}

.deteils {     
    padding: 90px 0px 0px 0px;
    text-align: left !important;  
    z-index: 1; 
}

span {
    color: #D7F9FF;
}

.hamburger-menu {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: #D7F9FF;
    border: 1px solid #2BDEFD;
    padding: 0px 5px;
}

.top-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
    flex-wrap: wrap; /* Permitir que o menu faça quebra de linha */
}

.top-nav ul li {
    display: inline;
}

.top-nav ul li a {
    color: #2BDEFD;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.top-nav ul li a:hover {
    color: #ccd6f6;
}

.main-content {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

header {
    text-align: center;  
}

header h2 {
    font-size: 2em;
    color: #8892b0;
}

section { 
   background-color: #021017;   
}
.borda_div{   
    background: #6bd1ff;    
    width: 50%;    
    height: 330px;    
    clip-path: polygon(0 0, 100% 0, 100% 60%, 85% 100%, 0 100%);    
    position: relative;
}

.border-section{    
    height: 305px;    
    clip-path: polygon(0 0, 100% 0, 100% 60%, 85% 100%, 0 100%);   
    position: absolute; /* Ajusta o posicionamento */
    top: 3px; /* Alinha a seção corretamente dentro da borda */
    left: 2px;
    background-color: #021017;
    padding: 10px;    
}

.div-borda-sobre{
    margin-right: 20px;    
}

.div-borda-experiencia{
    padding-right: 0px !important;     
}

h2 {
    margin-bottom: 1em;
    color: #2BDEFD;
}

ul {
    list-style-type: none;
    padding: 0;
}

.container-experience {
    display: flex;
    align-items: flex-start;
}

.tabs {
    flex: 1;    
    padding: 1em;
}

.tablink {
    background-color: inherit;
    color: #2BDEFD;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    font-size: 1em;
    text-align: left;
    width: 100%;
    transition: color 0.3s ease;
}

.tablink:hover {
    color: #ccd6f6;
}

.tablink.active {
    color: #ffffff;
    border-left: 2px solid #64ffda;
}

.tab-content {
    flex: 3;
    padding: 20px;
    border-left: 1px solid #233554;
    width: 200px;
}

.tabcontent {
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.tabcontent h3 {
    color: #2BDEFD;
}

#projetos h2{
    padding: 20px;
}

#certificacoes h2, strong{
    padding: 20px;
}


/* Estilização da seção */
#certificacoes {
    padding-bottom: 20px;
}

#certificacoes h2 {    
    margin-bottom: 20px;
}

/* Estilização do container principal */
#certificacoes .content {
    display: flex;
    justify-content: space-around; /* Espaçamento uniforme entre os itens */
    align-items: center;
    flex-wrap: wrap; /* Permite que itens fiquem em outra linha, se necessário */
    gap: 20px; /* Espaço entre os itens */
}

/* Estilização de cada item */
.cert-item {
    text-align: center; /* Centraliza o texto e a imagem */
    flex: 1; /* Faz os itens ocuparem o mesmo espaço */
    max-width: 200px; /* Define um tamanho máximo para os itens */
}

/* Estilização dos textos */
.cert-item p {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Estilização das imagens */
.cert-item img {
    width: 100px; /* Ajuste o tamanho do logo */
    height: auto; /* Mantém a proporção */
    display: block; /* Remove o espaço extra ao redor da imagem */
    margin: 0 auto; /* Centraliza a imagem */
    
}

.cert-item img:hover{
    transform: scale(1.08);    
}

#educacao h2{
    padding: 20px;
}

#educacao {
    padding-bottom: 20px;
    padding-left: 20px;
}

#educacao ul {
    list-style-type: disc; /* Define o tipo de marcador como disco (bolinha) */
    padding-left: 20px; /* Adiciona recuo à esquerda para o alinhamento dos marcadores */
}

#educacao li {
    margin-bottom: 10px; /* Adiciona espaço entre os itens da lista */
}


/* Estilização do contêiner */
.education-content {
    text-align: center;
    display: flex; /* Ativa o Flexbox */
    align-items: flex-start; /* Alinha os itens pelo topo */
    gap: 200px; /* Espaçamento entre os itens */
    flex-wrap: wrap; /* Permite que itens vão para outra linha se necessário */
    margin-left: 5%;
}

/* Estilização dos itens */
.education-item {
    flex: 1; /* Faz os itens ocuparem espaço igual */
    max-width: 300px; /* Define uma largura máxima para os itens */
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
    border-radius: 8px; /* Bordas arredondadas */
    background-color: #f9f9f9; /* Fundo claro */
}
 
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    padding-bottom: 20px;
}

.gallery img{
    background-color: rgba(0, 0, 255, 0.5); /* Azul translúcido */
    opacity: 0.7; /* Começa invisível */
    
}

.project {
    text-align: center;
}

.project img {
    max-width: 100%;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    width: 200px;
    height: 200px;
}

.project a {
    display: block;
    margin-top: 0.5em;
    text-decoration: none;
    color: #2BDEFD;
    font-weight: bold;
}

.project:hover img {
    transform: scale(1.05);
    border:  3px solid #6bd1ff  !important;
}

footer {
    text-align: center;
    padding: 0.5em 0;
    color: #2BDEFD;
}

footer a {
    color: #2BDEFD;
    text-decoration: none;
    margin: 0 0.5em;
}

footer a:hover {
    text-decoration: underline;
}

.social-footer {
    display: none;
    justify-content: center;
    gap: 1em;
    padding-top: 1em;
}

.social-footer a {
    display: block;
}

.social-footer img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
    border: 2px solid #64ffda;
    border-radius: 50%;
    padding: 4px;
    transition: transform 0.3s ease;    
}

.social-footer a:hover img {
    transform: scale(1.2);
}
/* Estilo inicial do link de contato */

.top-nav .top-nav-item a {
    color: #2BDEFD ;    
    padding: 10px 10px;
    border-radius: 10px 20px 10px 0;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.top-nav .top-nav-destaque a {
    color: black;
    background-color: #3498db;
    padding: 10px 20px;
    /*border-radius: 10px 20px 20px 0;*/
    font-weight: bold;
    position: relative;
    text-decoration: none;
    /*transition: background-color 0.3s ease;*/
    clip-path: polygon(0 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
    font-size: 16px;
}
  
  /* Efeito hover */
  .top-nav .top-nav-destaque a:hover {
    background-color: #ccd6f6;
    color: black;
  }
  
  /* Sublinhado parcial usando o ::after */
  .top-nav .top-nav-sublinhado a::after {
    content: "";
    position: absolute;
    bottom: 5px; /* Posição da linha em relação ao texto */
    left: 10%; /* Início da linha, a 25% da largura do link */
    width: 25%; /* Largura total do sublinhado, ocupando 50% do link */
    height: 2px; /* Espessura da linha */
    background-color: #ccd6f6; /* Cor do sublinhado */
    transform: scaleX(0); /* Inicialmente invisível */
    transform-origin: left; /* Origem da animação à esquerda */
    transition: transform 0.4s ease; /* Transição suave */
  }
  
  /* Exibir o sublinhado ao passar o mouse */
  .top-nav .top-nav-sublinhado a:hover::after {
    transform: scaleX(1); /* Animação da esquerda para a direita */
  }
  

  .whatsapp-float {
    position: fixed;
    bottom: 20px; /* Distância da parte inferior da tela */
    right: 20px;  /* Distância da borda direita */
    z-index: 1000; /* Garante que ficará sobre outros elementos */
}

.whatsapp-float img {
    width: 45px; /* Tamanho consistente do ícone */
    height: 45px;
    border-radius: 50%; /* Deixa o ícone circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    filter: hue-rotate(415deg); /* Tom azulado */
    opacity: 0; /* Começa invisível */
    transform: translateY(30px) scale(1); /* Começa deslocado */
    animation: fadeIn 2.2s ease-out forwards; /* Animação ao carregar */
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease; /* Suavização no hover */
}

.whatsapp-float img:hover {
    transform: scale(1.2) !important; /* Efeito de zoom ao passar o mouse */
    opacity: 1; /* Totalmente visível no hover */
    filter: hue-rotate(390deg); /* Pequena variação no tom */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(35px) scale(1); /* Vem de baixo */
    }
    100% {
        opacity: 0.7; /* Totalmente visível após a animação */
        transform: translateY(0) scale(1); /* Fica na posição final */
    }
}
  


@media (max-width: 768px) {

    .main-content {
        padding: 5px !important;
        max-width: 100% !important;
        margin: auto;
    }

    .borda_div{   
        background: #6bd1ff;    
        width: 100%;    
        height: 430px;    
        clip-path: polygon(0 0, 100% 0, 100% 60%, 85% 100%, 0 100%);    
        position: relative;
        margin-bottom: 20px;
    } 

    .titulo-box1 {           
        display: block;
        align-items: center; 
        width: 100%;           
        padding: 0px;        
    }

    #sobre{        
        height: 340px !important; 
        width: 99%;
    }

    .div-borda-sobre{        
        height: 344px;
    }

    #experiencia{
        margin: 0px 20px 0px 0px;        
        height: 454px !important;   
        width: 99%;     
    }

    .div-borda-experiencia{        
        margin-top: 00px !important;
        height: 460px !important;
    }
    
    .background-img {    
        position: absolute;
        top: 40px;
        right: -60px;
        width: 320px;
        height: auto;
        z-index: -1; /* Envia a imagem para trás dos outros elementos */
        opacity: 0.5; /* Opcional: Ajusta a transparência para melhorar o contraste */  
    }

    .border-section{   
        border:  3px solid #6bd1ff  !important;
        width: 95%;     
        padding: 5px;
        margin-top: 20px;    
        box-sizing: border-box;
        clip-path: polygon(0 0, 100% 0, 100% 60%, 85% 100%, 0 100%);
        box-sizing: border-box;        
    }    
        
    .deteils {    
       padding: 45px 0px 0px 0px !important;
        text-align: left !important;
    }   
    
    .top-nav {
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        font-size: 1.5rem; /* Tamanho do ícone */
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 0.5em;
        width: 100%;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
        max-height: 0;       
    }

    .nav-links.active {
        display: flex;
        max-height: 500px; /* Controla a altura ao abrir o menu */       
    }

    .top-nav ul {
        flex-direction: column;
        gap: 0.5em;
    }

    .container-experience {
        flex-direction: column;       
    }

    .tabs {
        flex-direction: row;
        overflow-x: auto;
        padding: 0.5em;
        box-shadow: none;
    }

    .tablink {
        padding: 10px 12px;
        font-size: 0.9em;
    }

    .tab-content {
        margin-left: 0;
        padding: 10px;
    }

    .social-footer {
        display: flex;
        padding-bottom: 70px;
    }

    .social-sidebar {
        display: none;
    }

    /* Estilização do contêiner */
    .education-content {
        text-align: center;
        /*display: flex; /* Ativa o Flexbox */
        align-items: flex-start; /* Alinha os itens pelo topo */
        gap: 60px; /* Espaçamento entre os itens */
        flex-wrap: wrap; /* Permite que itens vão para outra linha se necessário */
        margin-left: 25%;
        margin-right: 25%;
    }

    /* Estilização dos itens */
    .education-item {
        flex: 1; /* Faz os itens ocuparem espaço igual */
        max-width: 10px; /* Define uma largura máxima para os itens */
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
        border-radius: 8px; /* Bordas arredondadas */
        background-color: #f9f9f9; /* Fundo claro */
    }
}

@media (max-width: 480px) {
    .main-content {
        padding: 5px !important;
        max-width: 90% !important;
        width: 100%;
        margin: auto;
    }

    .deteils {    
        padding: 60px 50px 0px 0px;
        text-align: left;  
    }

    .top-nav ul {
        width: 100%;
        text-align: center;
    }

    .tab-content {
        padding: 5px;
    }
}
